/* You can add global styles to this file, and also import other style files */

body {
  overflow: hidden;
}

@media (max-width: 30em) {
  body {
    overflow: visible;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    overflow: visible;
  }
}

@media screen and (max-width: 1600px) {
  h1 {
    color: red;
  }
  body {
    overflow: visible;
  }
}
