a {
    color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

h1 {
  color: #720606;
  text-align: center;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.tmdbTM {
  position:absolute;
  bottom:0;
  right:0;
  margin: 10px;
  font-size: 10px;
}