a {
    color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

h1 {
  font-family: Calibri;
  font-style: normal;
  font-variant: normal;
	font-weight: 500;
  font-size: 7em;
  color: #fefefe;
  text-align: center;
  text-shadow: -1px 4px 0px rgba(125,125,127, 1);
  position: relative;
  display: inline;
  left: calc(50% - 822px/2);
}

.tmdbTM {
  position:absolute;
  bottom:0;
  right:0;
  margin: 10px;
  font-size: 10px;
}