@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    font-family: Roboto, Open Sans;
    font-size: 14px;
    color: white;
}

body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
/*div {
display: block;
}*/

.contentContainer {
  max-width: 1024px;
  margin: 0px auto 0px auto;
  background-color: rgba(37,37,37, 0.9);
  border-radius: 8px 8px 8px 8px;
}

.detailsPoster {
  border-radius: 8px 0px 0px 8px;
}
.detailsTopContainer {
    display: flex;
      background-color: rgba(51,51,51, 1.0);
    border-radius: 8px 8px 8px 8px;
}

.ratings {
  display: flex;
  flex-direction: row;
}
/*makes things space apart*/
.rating {
  align-items: center;
  display: flex;
  margin: auto;
}

.ratingtext {
  margin-right: 8px;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 10px;
}

.airDate {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    font-size: 30px;
    font-weight: bold;
    color: #ac0000;
}

.overviewDetailsArea {
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  justify-content:flex-start;
  align-items:stretch;
  margin-top: 25px;
  text-align: center;
}

.left { 
  order:1;  
  flex-basis:100%; 
}

.right {
  order:2; 
  flex-basis:100%;
 }

@media screen and (min-width:600px) {
   .container {
       flex-wrap:nowrap;
   } 
   
    .left {
        flex-basis:300px;
        order:1;
    }
    .right {
        flex-basis:200px;
        order:3;
    }
}

.topText {
  opacity: 1.0;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.title {
    display: flex;
    align-items: center;
}

.overview {
  margin-top: auto;
}
.searchAgain {
  display: flex;
  justify-content:flex-end;
  align-items:flex-end;
  margin-top: auto;
}

.returnText {
  color: white;
  font-size: 30px;
  text-decoration: none;
  box-shadow: inset 0 -3px 0 #ac0000;
  margin-right: 5px;
}

p {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: underline;
  color:white;
}
body {
 background-color: #efefef;
}

.footer {
  min-height: 240px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.bottomStatic {
  display: flex;
  flex-direction: column;
}

.bottomHeader {
    text-align: center;
}
.actors {
    max-width: 645px;
    text-align: center;
}

.actor {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    min-width: 200px;
}

.cast {
    margin: auto;
    margin-left: 190px;
}
.castMembers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.member {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    min-width: 200px;
}
