<div>
  <div class="contentContainer">
    <div class="detailsTopContainer" style="z-index: 4;">
      <img class="detailsPoster" src="https://image.tmdb.org/t/p/w300/{{poster}}" />
      <div class="topText">
        <div class="ratings">
          <div class="rating">
            <span class="ratingtext">{{tmdbRating}}</span>
            <img class="image" src={{tmdbImage}}/>
          </div>
          <div class="rating">
            <span class="ratingtext">{{tvdbRating}}</span>
            <img class="image" src={{tvdbImage}} />
          </div>
          <div class="rating">
            <img class="image" />
            <span class="ratingtext">thing3</span>
          </div>
        </div>
        <div class="title">{{tmdbDetails.show}}</div>
        <div class="airDate">{{airDate}}</div>
        <div class="overview">{{overview}}</div>
        <div class="overviewDetailsArea">
          <div class="left">
            <div class="details">
              <p>Status</p>{{status}}
            </div>
            <div class="details">
              <p>Genre</p>
              <span class="genre" *ngFor="let g of genre">{{g}} </span>
            </div>
          </div>
          <div class="right">
            <div class="details">
              <p>Airtime</p> {{airday}} {{airtime}} </div>
            <div class="details">
              <p>Created by</p>Node231</div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="bottomStatic">
        <div class="details">
          <p>Language</p> {{tmdbDetails.orglanguage}} </div>
        <div class="details">
          <p>Rating</p>{{contentRating}} </div>

        <div class="details">
          <p>Network</p>{{network}}</div>
        <div class="details">
          <p>Runtime</p>{{runtime}} min</div>
      </div>
      <div class="cast">
        <div class="bottomHeader">
          <p>Cast</p>
        </div>
        <div class="castMembers">
          <div class="member" *ngFor="let character of actor">
            <span class="character">{{firstRole(character.role)}}</span>
            <span class="actor">{{character.name}}</span>
          </div>
        </div>
      </div>
      <div class="searchAgain"><a class="returnText" href="/">Search Again</a></div>
    </div>
  </div>
</div>