<div>
  <div class="contentContainer">
    <div class="resultListArea">
      <div class="resultListText">
        <div class="detailsContainer">
          <img class="detailsPoster" />
          <div class="mainInfo">
            <div>
              <div class="ratings">
                <div class="rating">
                  <img class="image" />
                  <span>thing1</span>
                </div>
                <div class="rating">
                  <img class="image" />
                  <span>thing2</span>
                </div>
                <div class="rating">
                  <img class="image" />
                  <span>thing3</span>
                </div>
              </div>
              <div class="title">{{title}}</div>
              <div class="releaseDate">{{airDate}}</div>
              <div class="plot">plot info goes here</div>
              <div class="overviewDetailsArea">
                <div class="left">
                  <div class="details">
                    <p>Country</p>Country</div>
                  <div class="details">
                    <p>Rating</p>rating</div>
                </div>
                <div class="right">
                  <div class="details">
                    <p>Genre</p>Genre </div>
                  <div class="details">
                    <p>Runtime</p>Runtime</div>
                </div>
              </div>
            </div>
            <div class="searchAgain"><a class="returnText" href="/">Search Again</a></div>
          </div>
        </div>
    </div>
  </div>
</div>
</div>