<div>
  <div class="landingContainer">
    <div class="searchArea">
      <input type="text" autoComplete="off" (keydown)="keyDown($event)" placeholder={{backgroundPlaceholder.info.placeholderText}}
        [(ngModel)]="keystroke" (ngModelChange)="getKey($event)">
      <div class="results-list">
        <li (click)="setTitle(list); setBackground(list.backdrop)" *ngFor="let list of shows; let i = index" [class.selected]="i == arrowkeyLocation"
          [routerLink]="['/details', list.id]">
          <img class="liPosters" src="{{list.poster}}" />
          <span class="result">{{list.show}}</span>
          <span class="year">{{list.year}}</span>
        </li>
      </div>
    </div>
  </div>
</div>
