@import url('https://fonts.googleapis.com/css?family=Roboto');

/*
 * Padding pushes away from things inside the div.
 * Margin pushes away from other elements.
 */

* {
box-sizing: border-box;
}
h1 {
  color: #720606;
  text-align: center;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.landingContainer {
  max-width: 1024px;
  margin: 0px auto 0px auto;
}
.searchArea {
  max-width: 624px;
  margin: auto;
  margin-top: 30vh;
}

input {
  background-color: rgba(black, .5);
  box-shadow: inset 0px 0px 15px 1px rgba(0,0,0,0.50);
  border: 2px solid white;
  border-radius: 4px;
  font-size: 36px;
  letter-spacing: 1.5px;
  text-align: center;
  height: 72px;
  width: 100%;
  border-color: #720606;
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.results-list{
    list-style: none;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

li {
    list-style: none;
    padding: 5px;
    border: 1px solid #720606;
    display: flex;
    color: black;
    background: rgba(128,128,128,0.5);
    cursor: pointer;
}

.result {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 1.0;
}

.liPosters {
  height: 69px;
  width: 46px;
  opacity: 1.0;
}

.result {
  margin: auto;
}