/*
 * Padding pushes away from things inside the div.
 * Margin pushes away from other elements.
 */


/*
 *
 * Credit to Nitix & Haliax for significant help on the design for the site.
 *
 */

* {
  box-sizing: border-box;
}

.selected {
  background-color: #CFD8DC !important;
  color: white;
}

.landingContainer {
  max-width: 1024px;
  margin: 0px auto 0px auto;
}

.searchArea {
  max-width: 624px;
  margin: auto;
  margin-top: 24vh;
}

input {
  background-color: rgba(black, .5);
  box-shadow: inset 0px 0px 10px 1px;
  border-radius: 4px;
  font-size: 36px;
  letter-spacing: 1.5px;
  text-align: center;
  height: 72px;
  width: 100%;
  border-color: rgb(18, 18, 18);
}

.results-list {
  list-style: none;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

li {
  list-style: none;
  padding: 5px;
  border: 1px solid rgb(18, 18, 18);
  display: flex;
  background: rgba(128, 128, 128, 0.8);
  cursor: pointer;
  font-size: 18px;
}

a {
  color: inherit;
  /* blue colors for links too */
  text-decoration: inherit;
  /* no underline */
}

.result {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 1.0;
}

.liPosters {
  height: 69px;
  width: 46px;
  opacity: 1.0;
}

.result {
  margin: auto;
}